body {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(161, 251, 173);
    padding: 25px;
}

.menuButton {
    padding: 5px 10px;
    background-color: rgb(124, 223, 137);
    border-radius: 5px;
    display: inline-block;
    font-size: 0.7rem;
}

.menu {
    padding: 10px 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000px;
    overflow: hidden;
    background-color: rgb(124, 223, 137);
    max-width: 0;
    transition: max-width 400ms ease 200ms,
    padding 900ms ease-out 100ms;
}

.visible {
    max-width: 500px;
    padding: 30px 130px;
}

.container {
    background-color: rgb(230, 253, 233);
    height: 1100px;
}