body {
    padding: 0;
    margin: 0;
    background-color: rgb(230, 253, 233);
    height: 5000px;
}

header {
    background-color: rgb(161, 251, 173);
    padding: 50px;
}

.menuButton {
    padding: 10px 20px;
    background-color: rgb(124, 223, 137);
    border-radius: 5px;
    display: inline-block;
}

.menu {
    padding: 50px 0px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(124, 223, 137);
    max-width: 0;
    transition: max-width 400ms ease 200ms,
    padding 900ms ease-out 100ms;
}

.visible {
    max-width: 500px;
    padding: 50px 150px;
}